@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --bg-body: #010C15;
    --text-color: #607B96;
    --border-color: #1E2D3D;
    --bg-container: #011627;
    --p-dev-color: #43D9AD;
    --presentation: #E5E9F0;
}

html, body {
    height: 100vh;
    width: 100%;
}

body {
    display: flex;
    align-items: center;
    font-family: 'Fira Code', monospace;
    background: var(--bg-container);
    color: var(--text-color);
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    
    position: relative;
}

.container {
    background: var(--bg-container);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.container .bg-colors {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.content-presentation{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container .presentation {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.container .presentation p.hi{
    font-size: 18px;
    color: var(--presentation);
}

.container .presentation p.dev{
    font-size: 20px;
    color: var(--p-dev-color);
}

.container .presentation h1 {
    font-size: 60px;
    font-weight: 400;
    line-height: 100%;
    color: var(--presentation);
}

.container .github {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    gap: 15px;
    text-align: center;
}


.container .github .githublink {
    text-align: center;
    cursor: default;
    padding: 0px 25px;
}


.container .github .githublink .const {
    color: #4D5BCE;
}

.container .github .githublink .var {
    color: #43D9AD;
}

.container .github .githublink .value {
    color: #E99287;
    text-decoration: none;
    transition: all 800ms;
}

.container .github .githublink .value:hover{
    text-align: center;
    filter: drop-shadow(0px -0px 10px);
}
.container {
    padding-bottom: 50px;
}

.ola a {
    color: #4db696;
}

.ola a:hover {
    color: #43D9AD;
}

.sobre a {
    color: var(--text-color);
}

.sobre a:hover {
    color: #5b9ddf;
}

.projects a {
    color: var(--text-color);
}

.projects a:hover {
    color: #5b9ddf;
}

.contact a {
    color: var(--text-color);
}

.contact a:hover {
    color: #5b9ddf;
}

@media screen and (min-width: 768px) {
    .container {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .content-presentation{
        display: flex;
        align-items: center;
    }

    .container .github {
        display: none;
    }
    
}